# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/

# Config
*.log
*.sqlite3

# Git / Editor / OS files
.git/
.gitignore
.gitattributes
.idea/
.vscode/
.DS_Store
Thumbs.db

# Local credential files
*.pem
*.crt
*.key

# Caches
__cache__/
.cache/
.mypy_cache/
pytest_cache/
