services:
  tms_etl_service:
    container_name: tms_etl
    image: tms-etl-service
    build: .
    restart: always

    env_file:
      - .env

    networks:
      - logs_net

    volumes:
      - tms-etl-service_logs:/var/log

    command: ["python", "/app/run_scheduler.py"]

    healthcheck:
      test: ["CMD", "python", "-m", "healthcheck.healthcheck"]
      interval: 5m
      timeout: 10s
      retries: 3
      start_period: 10m

volumes:
  tms-etl-service_logs:
    name: tms-etl-service_logs
    external: true

networks:
  logs_net:
    external: true
